meyer-reset()

main
  display block
  min-width 100%
  [ui-view]
    width 100%

// Functions
writing-mode(mode=vertical-rl)
  -webkit-writing-mode mode
  -moz-writing-mode mode
  -o-writing-mode mode
  writing-mode mode
  
  -ms-writing-mode mode
  if mode is vertical-rl
    -ms-writing-mode tb-rl
  else
    -ms-writing-mode lr-tb

  text-align justify
  text-justify inter-ideograph
  
  line-height 1.5

// ngAnimate setting
html
body
  height 100%
  position relative
[ui-view]
  absolute 0 0 0 false
  z-index 500
  
  &.ng-enter
    animation fadeIn .5s
  &.ng-leave
    animation fadeOut .5s

// Disable
#pageTop
#novel_attention
#novel_hyouka
#recommend
.adsbyimob
.center
.novel_bn
.contents2//"ブックマークする場合はログインしてください。"
  display none

// Font
body
input
button
  font-family YuMincho,'游明朝','Yu Mincho','ヒラギノ明朝 Pro W3','Hiragino Mincho Pro',Meiryo,serif
  +placeholder()
    opacity .5s

h1
  font-size xx-large
p
button
  font-size x-small
input
  font-size medium
label
  font-size small
#novel_color
  font-size x-large
.contents1
  font-size small
.chapter_title
  font-size medium
.novel_subtitle
  font-size x-large
.novel_bn
  font-size small
#novel_no
  font-size large
  opacity .25
#novel_p
#novel_a
  opacity .5
#novel_footer
  font-size xx-small
  
// Layouts
.divide
  display flex
  >*
    flex 1

// index
form
  box-sizing-reset()
  
  fixed 0 0 0 0
  z-index 5
  
  margin auto
  width 20em
  height 14em
  p
    margin-top .25em
    margin-bottom 1em
  input
    display block
    width 100%
    margin 0
  label
    display block
    text-align center
    padding .5em 0
    input
      display inline
      width 1em
  button
    display block
    margin-left auto
    margin-right 0
  footer
    opacity .75
    margin-top 1em
    text-align center
    a
      font-size 0
    cite
      display block
      text-align right
      a
        margin 0 .25em
        color black
        font-size x-small

// center center
#novel_contents
  box-sizing-reset()
#novel_color
  display inline-block
  writing-mode()
  
  height 95% // Fix IE10
  padding 3em 5em
  padding-left 10em
  
  img
    height 100%
  del
    text-decoration none
    opacity .5
  
  // Fix IE10
  rb
    max-width 1em

#novel_honbun
  word-break break-all
  // Fix IE10
  height 100%
  overflow-y hidden

// center right
#novel_p
  border-left 1px solid gray
  margin-left 1em
  padding-left 1em
  
// center left
#novel_a
  border-right 1px solid gray
  margin-right 1em
  padding-right 1em
  
// top left
.novel_bn:last-child
  writing-mode(horizontal-tb)
  
  display block
  height 1em
  fixed .5em false false .5em
  z-index 5
  padding-left 3em
  
  a
    margin-right .5em

// top center
#novel_no
  writing-mode(horizontal-tb)
  
  display inline-block
  fixed .5em .5em false .5em
  z-index 5
  text-align center

// top right
#novel_footer
  fixed .5em .5em false 70%
  z-index 5
  
  margin-top .25em
  line-height 1.5
  
  text-align right
  *
    display inline-block

// bottom left
.chapter_title
  writing-mode(horizontal-tb)
  
  absolute -1.25em false false 0
  text-align left
  display inline-block
.novel_subtitle
  writing-mode(horizontal-tb)
  
  fixed false 50% .25em .25em
  z-index 5
  overflow ellipsis

// bottom center
.apology
  writing-mode(horizontal-tb)
  
  display inline-block
  font-size x-small
  fixed false .5em .5em .5em
  text-align center
  opacity .75

// bottom right
.contents1
  fixed false .5em .5em .5em
  z-index 5
  
  text-align right
  a:first-of-type
    width 50%
    margin .25em 0
    margin-left auto
    margin-right .25em
    display block
    overflow ellipsis

// for shortshort
.novel_writername
.novel_title
  writing-mode(horizontal-tb)
  z-index 5

.novel_writername
  fixed false .5em .5em .5em
  
  text-align right
  font-size small
  
.novel_title
  fixed false 50% .5em .5em
  overflow ellipsis
  font-size medium
  